body {
  margin:0;
  font-family:sans-serif;
  background:#0b1f14;
  color:white;
}

.hidden { display:none; }

#login {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#login input {
  padding:10px;
  margin:10px;
  border:none;
  border-radius:10px;
}

#login button {
  padding:10px 20px;
  background:#25d366;
  border:none;
  border-radius:10px;
}

#loading {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

#app {
  display:flex;
  height:100vh;
}

.sidebar {
  width:30%;
  background:#122e20;
  overflow:auto;
}

.user {
  padding:15px;
  border-bottom:1px solid #1f4a33;
  cursor:pointer;
}

.chat {
  flex:1;
  display:flex;
  flex-direction:column;
}

#chatBox {
  flex:1;
  padding:10px;
  overflow:auto;
}

.inputBox {
  display:flex;
}

.inputBox input {
  flex:1;
  padding:10px;
}

.inputBox button {
  padding:10px;
  background:#25d366;
  border:none;
}

@media(max-width:768px){
  .sidebar { width:40%; }
}
